<div id="who-we-are" class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 right-side">
      <p class="sub-title">
        كيف سنقوم بعملية
      </p>
      <p id="main-title">
        التعـلـيـم
      </p>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="row">
        <div class="main-txt col-8">
          <p class="sub-title">
            نأخذ التعلم
          </p>
          <h1>
            إلى آفـاق جـديـدة
          </h1>
          <p>
            من أولويات رسالتنا توفير خدمات التعليم والتدريب بأعلى مستوى من الجودة والكفاءة المهنية... ومواكبة تكنولوجيا
            التعليم والتدريب في العالم
          </p>
        </div>
        <div class="col4">
          <img src="./assets/imgs/who.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
