<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <!-- Edu Room <strong class="brand-bold">AXSESS</strong> -->
      <img src="assets/imgs/logo.png" alt="logo" width="75">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">الصفحة الرئيسية <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="LoggedIn()">
          <a class="nav-link" routerLink="/groups/view">المجموعات</a>
        </li>
        <!-- <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            الجلسات
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">جلساتي</a>
            <a class="dropdown-item" href="#">جلسات عامة</a>
          </div>
        </li> -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/pricing">خطط الأسعار</a>
        </li>
        <!--<li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#">الإدارة</a>
        </li>-->
        <li class="nav-item" routerLinkActive="active" *ngIf="!LoggedIn()">
          <a class="nav-link" routerLink="/security/login">تسجيل دخول </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!LoggedIn()">
          <a class="nav-link" routerLink="/security/register">تسجيل  </a>
        </li>
        <!--<li class="nav-item" routerLinkActive="active" *ngIf="LoggedIn()">
          Welcome {{username}}
        </li> -->
        <li class="nav-item dropdown" routerLinkActive="active" *ngIf="LoggedIn()">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="logout()">تسجيل خروج</a>
            <a class="dropdown-item" routerLink="/profile">حسابي</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
