<h1 class="main-title">
 خدماتنا
</h1>
<!--Carousel Wrapper-->
<div id="services" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top carousel-indicators">
        <a class="btn-floating next" href="#services" data-slide="next"><fa-icon [icon]="faChevronCircleRight"></fa-icon></a>
        <a class="btn-floating prev" href="#services" data-slide="prev"><fa-icon [icon]="faChevronCircleLeft"></fa-icon></a>
    </div>
    <!--/.Controls-->
  
    <!--Indicators-->
    <!-- <ol class="carousel-indicators">
      <li data-target="#services" data-slide-to="0" class="active"><fa-icon [icon]="faChevronCircleRight"></fa-icon></li>
      <li data-target="#services" data-slide-to="1"><fa-icon [icon]="faChevronCircleLeft"></fa-icon></li>
    </ol> -->
    <!--/.Indicators-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
  
        <div class="col-md-6" style="float:left">
         <div class="card mb-2">
            <img class="card-img-top"
              src="assets/imgs/03.svg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">من أولويات رسالتنا توفير خدمات التعليم</h4>
              <p class="card-text">والتدريب بأعلى مستوى من الجودة والمهنية والكفاءة</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-6" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="assets/imgs/02.svg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">من أولويات رسالتنا توفير خدمات التعليم</h4>
              <p class="card-text">والتدريب بأعلى مستوى من الجودة والمهنية والكفاءة</p>
            </div>
          </div>
        </div>
  
        
      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      <div class="carousel-item">
  
        <div class="col-md-6" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="assets/imgs/03.svg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">من أولويات رسالتنا توفير خدمات التعليم</h4>
              <p class="card-text">والتدريب بأعلى مستوى من الجودة والمهنية والكفاءة</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-6" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="assets/imgs/04.svg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">من أولويات رسالتنا توفير خدمات التعليم</h4>
              <p class="card-text">والتدريب بأعلى مستوى من الجودة والمهنية والكفاءة</p>
            </div>
          </div>
        </div>
      </div>
      <!--/.Second slide-->
  
     <!--third slide-->
     <div class="carousel-item">
  
      <div class="col-md-6" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="assets/imgs/04.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">من أولويات رسالتنا توفير خدمات التعليم</h4>
            <p class="card-text">والتدريب بأعلى مستوى من الجودة والمهنية والكفاءة</p>
          </div>
        </div>
      </div>

      <div class="col-md-6" style="float:left">
        <div class="card mb-2">
          <img class="card-img-top"
            src="assets/imgs/03.png" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">من أولويات رسالتنا توفير خدمات التعليم</h4>
            <p class="card-text">والتدريب بأعلى مستوى من الجودة والمهنية والكفاءة</p>
          </div>
        </div>
      </div>
    </div>
    <!--/.third slide-->
  
    </div>
    <!--/.Slides-->
  
  </div>
  <!--/.Carousel Wrapper-->