<!-- Footer -->
<footer class="page-footer pt-4">

  <div class="container">
    <!-- Footer Links -->
    <div class="text-center text-md-right">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h1 class="text-uppercase">
            Edu Room AXESS
          </h1>
            <p>الأردن</p>
            <p>هاتف: 962799144432</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <div class="col-md-3 mb-md-0 mb-3"></div>
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h2 class="text-uppercase">روابط مفيدة</h2>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://web.whatsapp.com/">
                <img src="assets/imgs/005-whatsapp.svg" alt="whats app contact" width="25"> 
                962799144432
                
              </a>
            </li>
            <li>
              <a href="https://web.skype.com/">
                <img src="assets/imgs/015-skype.svg" alt="whats app contact" width="25"> 
                962799144432
                
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/">
                <img src="assets/imgs/036-facebook.svg" alt="whats app contact" width="25"> 
                #EDU_ROOM_AXESS
                
              </a>
            </li>
            <li>
              <a href="https://play.google.com/store/apps">
                <img src="assets/imgs/048-android.svg" alt="whats app contact" width="25"> 
                EDU_ROOM_AXESS
                
              </a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <!-- <div class="col-md-3 mb-md-0 mb-3">
  
          <h2 class="text-uppercase">خدمات إضافية</h2>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div> -->
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    
  </div>
    <!-- Copyright -->
    <div class="footer-copyright py-3">Powered By Beta Group © 
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
